body {
  font-size: 30px;
}
div {
  width: 150px;
  height: 150px;
  background-color: coral;

  /*font-size: 1rem;*/
}
.red-bg {
  background-color: red;
}
.blue-bg {
  background-color: blue;
}
#first-div {
  background-color: yellow;
}
